In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("datasets/dataset_2.csv")

In [4]:
data.head()

      Name  Trips Completed Accept Rate  Supply Hours  Rating
0    Abdul                1        100%             3     4.8
1  Abraham               12         83%             5     4.7
2  Adelina                1        100%             2     4.7
3   Akilah                1        100%             2     4.9
4     Alec               21         76%            11     5.0